* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}


body {
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
    line-height: 1.5;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #660d0d;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    flex-wrap: wrap;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo {
    border: rgb(181, 152, 161) solid 1px ;
    opacity: 0.5;
    border-radius: 6px;
    padding: 7px;
    gap: 20px;
}

.header__contacts{
    color: rgb(181, 152, 161)
}

.header__description {
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 24px;
    color: #fff;
}

.header__subtitle {
    font-size: 16px;
    color: #cccccc;
}

.header__nav .nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.header .nav__link {
    color: #ffffff;
    text-decoration: none;
}

.header__nav .nav__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.header__nav .nav__link--active {
    color: rgb(181, 152, 161);
}

.header__nav .nav__link:hover {
    color: #000;
}

.btn {
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.btn--primary {
    background: #fff;
    color: #000;
}

.btn--primary:hover {
    background: #f0f0f0;
}

.btn--secondary {
    text-align: center;
    background: #660d0d;
    color: #fff;
}

.btn--secondary:hover {
    background: #7b0f0f;
}

.btn--primary {
    background: #fff;
    font-size: 14px;
    color: #000;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn--secondary {
    font-size: 14px;
    background: #660d0d;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn--danger {
    font-size: 14px;
    background: #660d0d;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn--danger:hover {
    background: darkred;
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #ffffff;
    color: #000000;
    flex-wrap: wrap;
}

.footer__left p {
    margin: 5px 0;
}

.footer__right .nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #000000;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer__right .nav__link {
    color: #000000;
    text-decoration: none;

}

.footer__link {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__link:hover {
    color: #660d0d;
}

#loadTime {
    font-size: 12px;
    color: #555;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 576px) {

    .footer {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .footer__right {
        margin-bottom: 10px;
    }

    .footer__left {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__nav {
        justify-content: left;
        margin-bottom: 10px;
    }


    .footer__logo {
        justify-content: left;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-bottom: 0;
    }

    .footer__contacts .footer__text {
        margin: 2px;
        line-height: 1.4;
    }
}