.gallery__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 20px;
    justify-items: left;
}

.gallery__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: #000;
    color: #fff;
    margin: 20px auto;
}

.gallery__card-header {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.gallery__card-title {
    width: 100%;
    margin-bottom: 5px;
}

.gallery__card-text {
    margin: 0 0 5px 0;
}

.gallery__card-quote {
    margin-top: 10px;
    font-style: italic;
}

.gallery__card-cite {
    display: block;
    margin-top: 5px;
    font-style: normal;
    text-align: right;
    color: #ccc;
}

.gallery__images {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.gallery__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 1024px) {
    .gallery__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 40px 20px;
        justify-items: left;
    }
    .header__logo {
        display: none;
    }

    .header__subtitle {
        display: none;
    }


}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

}


@media (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .gallery__images {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 100%;
    }

    .gallery__image {
        width: 100%;
        height: auto;
    }
}