.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.registration__title {
    background: #660d0d;
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-right: 241px;
    text-align: center;
    border-radius: 15px 15px 0 15px;
}

.registration__box {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    background: transparent;
}

.registration__form {
    display: flex;
    flex-direction: column;
}

.registration__group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.registration__label {
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
}

.registration__input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
}

.registration__input::placeholder {
    color: #aaa;
}

.registration__checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 10px;
    margin-bottom: 15px;
}

.registration__checkbox {
    display: none;
}

.registration__checkbox-label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.registration__checkbox-label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-right: 8px;
    transition: all 0.3s;
}

.registration__checkbox:checked + .registration__checkbox-label::before {
    background: #660d0d;
    border-color: #660d0d;
}

@media (max-width: 576px ) {

    .registration__box {
        width: 100%;
        max-width: 400px;
    }

    .registration__title {
        display: none;
    }

    .registration__checkbox-label::before {
        width: 15px;
        height: 15px;
    }

}